<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QCM - Question 2</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <form method="post" action="/verif_1" class="col-12 col-md-6">
                <div class="fw-bold m-3">1) Qui est Xavier ?</div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                        name="choix" id="choix1" value="mpitabataba">
                    <label class="form-check-label" for="choix1">
                        Mpitabataba
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                        name="choix" id="choix2" value="president">
                    <label class="form-check-label" for="choix2">
                        Président
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                        name="choix" id="choix3" value="danseuse">
                    <label class="form-check-label" for="choix3">
                        Danseuse
                    </label>
                </div>
                <button class="btn btn-outline-success" 
                type="submit">Run</button>
            </form>
        </div>
    </div>
</body>
</html>